<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" type="text/css" href="/src/css/layout/footer.css">
</head>
<body>
    <footer id="footer">
        <div class="foot_area">
            <div class="foot_info">
                <div class="foot_logo">
                    <h1>
                        <img src="/src/images/layoutImg/img_logo2.png" alt="하나손해보험">
                    </h1>
                </div>
                <div class="foot_addr">
                    <ul>
                        <li>하나손해보험주식회사</li>
                        <li>대표이사 : 김재영</li>
                        <li>사업자등록번호 107-86-24985</li>
                    </ul>
                    <ul>
                        <li>
                            <address>서울특별시 종로구 창경궁로 117 (하나손해보험빌딩, 인의동)</address>
                        </li>
                        <li>TEL 02-6670-8400</li>
                    </ul>
                    <p>©2019 Hana Insurance Co.,Ltd. All Rights Reserved.</p>
                </div>
                <div class="foot_sns">
                    <a href="https://www.youtube.com/c/hanainsurance" target="_blank"><img src="/src/images/layoutImg/icon_youtube_f.png" alt="유투브바로가기"></a>
                    <a href="https://www.instagram.com/hanains_official" target="_blank"><img src="/src/images/layoutImg/icon_instagram_f.png" alt="인스타그램바로가기"></a>
                    <a href="https://blog.naver.com/hanainsurance" target="_blank"><img src="/src/images/layoutImg/icon_blog_f.png" alt="블로그바로가기"></a>
                </div>
            </div>
            <div class="foot_award"> 
                <img src="/src/images/layoutImg/icon_award1.jpg" alt="국가지속가능 경영대상">
                <img src="/src/images/layoutImg/icon_award2.jpg" alt="국가대표 브랜드 대상수상">
                <img src="/src/images/layoutImg/icon_award3.jpg" alt="교육기부 진로체험 인증기관">
                <img src="/src/images/layoutImg/icon_award4.jpg" alt="2010 KSQI 우수콜센터인증">
                <img src="/src/images/layoutImg/icon_award5.jpg" alt="WEB AWARD 10th WINNER">
                <img src="/src/images/layoutImg/icon_award6.jpg" alt="한국경제주관2015 대한민국 명품브랜드 대상">
                <img src="/src/images/layoutImg/icon_award7.jpg" alt="2019 사랑나눔 사회공헌대상">
                <img src="/src/images/layoutImg/icon_award8.jpg" alt="2019 아시아태평양 스티비 어워드 금상">
                <img src="/src/images/layoutImg/icon_award9.jpg" alt="2022 소비자가 선택한 최고의 브랜드" class="last">
            </div>
        </div>
    </footer>
</body>
</html>